
/*
RESET ------------------------------------------------------------------------------------------------------------------------------
*/

*{margin:0;padding:0;-moz-box-sizing:border-box;box-sizing:border-box;}
html, body {height:100%;scroll-behavior:smooth;}
html {font-size:100%;} 
body {font-family:'Poppins';margin:0;padding:0;line-height:1.6;color:#8e9297;font-size:16px;background:#36393f;}
h1,h2,h3,h4,h5,h6 {float:left;width:auto;line-height:normal;font-weight:normal;font-style:normal;margin:0;padding:0;}
h1 {font-size:36px;font-weight:700;line-height:1.1;}
ul,ol,li {margin:0;padding:0;list-style-type:none}
p {margin:0;height:auto;width:auto;}
address {font-style:normal;margin:0}
a {text-decoration:none;color:var(--color-text);}
a img {border:none}
em {font-style:normal}
strong {font-weight:bold}
img {object-fit:cover;object-position:center center;}
.center {display:flex;flex-direction:column;width:1400px;}
form {padding:0;margin:0;}
input[type=text], input[type=number], textarea, input[type=submit] {background:none;border:none;padding:0;margin:0;font-family:'Poppins';font-size:15px;font-weight:500;outline:none;width:100%;appearance:none;}
button {background:none;border:none;padding:0;margin:0;appearance:none;}
.green {color:#459782;}
.red {color:#e73b3b;}
.green2 {background:#459782;}
.red2 {background:#e73b3b;}

