
/*
BOT
------------------------------------------------------------------------------------------------------------------------------
*/

/*
BOT
*/
.dash {position:relative;}
.bot {position:relative;top:0;left:0;right:0;bottom:0;background:var(--color-bot-right);color:var(--color-text);}
.bot_left {display:flex;width:260px;position:fixed;top:0;left:0;bottom:0;z-index:10;flex-direction:column;background:var(--color-bot-side);border-right:1px solid var(--color-border);}
.bot_bottom {position:fixed;left:260px;right:0;bottom:0;height:100px;z-index:10;background:var(--color-bot-right);z-index:10;display:flex;justify-content:center;align-items:flex-start;}
.bot_center {position:relative;display:flex;justify-content:center;align-items:flex-start;padding-right:0;width:100%;padding:0 0 100px 260px;}
.bot_center2 {display:flex;width:700px;flex-direction:column;padding:50px 0 0 0;}
.bot_empty {position:fixed;left:260px;right:0;bottom:100px;top:0;display:flex;justify-content:center;align-items:flex-start;z-index:5;}
.bot_empty0 {display:flex;width:700px;height:100%;flex-direction:column;}
.bot_empty1 {display:flex;width:100%;height:100%;justify-content:center;align-items:center;flex-direction:column;}
.bot_empty1 span {display:flex;width:80px;border:1px solid var(--color-border);border-radius:50%;aspect-ratio:1/1;padding:15px;}
.bot_empty1 span svg {display:flex;width:100%;fill:var(--color-storm);}
.bot_empty1 b {display:flex;font-size:22px;font-weight:500;margin:10px 0 0 0;}
.bot_empty2 {display:flex;width:100%;}
.bot_empty2 ul {display:flex;width:100%;flex-wrap:wrap;justify-content:space-between;padding:0 10px 0 10px;}
.bot_empty2 ul li {display:flex;width:49%;margin-bottom:10px;font-size:13px;}
.bot_empty2 ul li a {display:flex;width:100%;flex-direction:column;border:1px solid var(--color-border);border-radius:15px;padding:7px 10px 7px 10px;cursor:pointer;}
.bot_empty2 ul li a span:nth-child(1) {display:flex;width:100%;font-weight:500;}
.bot_empty2 ul li a span:nth-child(2) {display:flex;width:100%;color:var(--color-text2);}

/*
BOT SIDE
*/
.bot_side {display:flex;width:100%;height:100%;flex-direction:column;}
.bot_side_top {display:flex;height:50px;width:100%;align-items:flex-start;padding:14px 9px 14px 9px;flex-shrink:0;}
.bot_side_top a {display:flex;width:100%;align-items:center;justify-content:space-between;border-radius:7px;padding:4.5px 10px 4.5px 10px;}
.bot_side_top a span {display:flex;align-items:center;}
.bot_side_top a span svg {height:26px;fill:var(--color-storm);}
.bot_side_top a span b {margin:0 0 0 10px;font-size:26px;line-height:1;margin-bottom:5px;color:var(--color-storm);font-family:'MuseoModerno';font-weight:700;letter-spacing:-0.4px;}
.bot_side_new a i {font-size:18px;}
.bot_side_top a:hover {background:var(--color-bloc2);}
.bot_side_center {display:flex;width:100%;height:100%;flex-direction:column;overflow-y:auto;}
.bot_side_center ul {display:flex;width:100%;flex-direction:column;}
.bot_side_center ul li {display:flex;width:100%;height:auto;font-size:14px;}
.bot_side_center ul li b {display:flex;width:100%;padding:30px 20px 5px 20px;color:var(--color-text2);font-weight:normal;font-size:11px;text-transform:uppercase;letter-spacing:0.5px;}
.bot_side_center ul li a {display:flex;width:100%;padding:5px 20px 5px 20px;color:var(--color-text);}
.bot_side_gas {position:absolute;top:25px;left:100%;flex-shrink:0;width:100px;margin-left:25px;font-size:14px;}
.bot_side_bottom {display:flex;height:auto;width:100%;flex-shrink:0;padding:10px 20px 20px 20px;justify-content:space-between;}
.bot_side_bottom ul {display:none;position:absolute;left:20px;right:20px;bottom:75px;flex-direction:column;background:var(--color-bot-right);border:1px solid var(--color-border);border-radius:15px;font-size:14px;line-height:1;}
.bot_side_bottom ul li {display:flex;width:100%;}
.bot_side_bottom ul li a {display:flex;width:100%;align-items:center;padding:12px 15px 12px 15px;}
.bot_side_bottom ul li a i {display:flex;width:30px;text-align:center;font-size:16px;}
.bot_side_bottom ul li:nth-child(1) {padding-top:5px;}
.bot_side_bottom ul li:nth-last-child(1) {padding-bottom:5px;}
.bot_side_bottom ul li:nth-last-child(1) {border-top:1px solid var(--color-border);padding-top:3px;}
.bot_side_bottom div {display:flex;width:100%;flex-direction:column;justify-content:space-between;}
.bot_side_bottom div span {display:flex;width:100%;align-items:center;justify-content:space-between;margin-top:10px;}
.bot_side_bottom div span a {display:flex;height:46px;border-radius:23px;width:100%;border:1px solid var(--color-border);justify-content:flex-start;align-items:center;cursor:pointer;position:relative;padding:0 20px 0 15px;font-size:13px;}
.bot_side_bottom div span a.on {background:var(--color-storm);color:#fff;border:none;}
.bot_side_bottom div span:nth-child(2) a {width:100%;}
.bot_side_bottom div span:nth-child(3) a {width:49%;letter-spacing:-0.2px;padding:0;justify-content:center;}
.bot_side_bottom div span a i.fa-solid.fa-user-plus {display:flex;width:20px;justify-content:center;margin-right:10px;}
.bot_side_bottom div span a i.fa-regular.fa-circle-user {display:flex;width:20px;justify-content:center;margin-right:10px;font-size:17px;}
.bot_side_bottom div span a i.fa-solid.fa-angle-down {display:flex;width:20px;justify-content:center;position:absolute;right:15px;}
.bot_side_bottom div span a i.fa-solid.fa-plus {display:flex;width:20px;justify-content:center;position:absolute;right:15px;}
.bot_side_bottom div span a i.fa-solid.fa-robot {margin-left:3px;font-size:13px;margin-top:-5px;display:none;}
.bot_side_bottom div span a i.fa-solid.fa-chart-line {margin-left:4px;font-size:12px;margin-top:-2px;display:none;}

/*
BOT SEARCH
*/
.bot_search form {display:flex;width:700px;padding-top:2px;}
.bot_search form .bot_search_input {display:flex;width:100%;position:relative;align-items:center;}
.bot_search form .bot_search_input input[type=text] {display:flex;width:100%;height:60px;border:1px solid var(--color-border);border-radius:15px;padding-left:20px;color:var(--color-color);background:transparent;text-indent:40px;background:var(--color-bloc2);border:1px solid var(--color-bloc2);}
.bot_search form .bot_search_input input:focus[type=text] {border:1px solid var(--color-storm);background:none;}
.bot_search form .bot_search_input input[type=submit], .bot_search form .bot_search_input i.fa-solid.fa-arrow-up {position:absolute;right:15px;height:34px;width:34px;border-radius:10px;background:var(--color-storm);}
.bot_search form .bot_search_input i.fa-solid.fa-arrow-up {display:flex;justify-content:center;align-items:center;pointer-events:none;z-index:1;color:#fff;}
.bot_search form .bot_search_input input[type=submit] {cursor:pointer;}
.bot_search form .bot_search_input i.faslash {position:absolute;left:15px;height:34px;width:34px;border-radius:10px;background:var(--color-storm);display:flex;justify-content:center;align-items:center;z-index:1;color:#fff;cursor:pointer;font-weight:900;}
.bot_search_menu {display:flex;width:700px;position:relative;position:absolute;bottom:110px;background:var(--color-bloc);border:1px solid var(--color-border);border-radius:10px;overflow:hidden;}
.bot_search_menu ul {display:flex;width:100%;flex-direction:column;}
.bot_search_menu ul li {display:flex;width:100%;}
.bot_search_menu ul li a {display:flex;width:100%;flex-direction:column;padding:10px 23px 10px 23px;cursor:pointer;}
.bot_search_menu ul li a span:nth-child(1) {display:flex;width:100%;color:var(--color-text);font-size:14px;}
.bot_search_menu ul li a span:nth-child(2) {display:flex;width:100%;color:var(--color-text2);font-size:12px;}
.bot_search_menu ul li.selected {background:var(--color-bloc2);}
.bot_search_menu ul li:nth-child(1) a {padding-top:20px;}
.bot_search_menu ul li:nth-last-child(1) a {padding-bottom:20px;}

/*
BOT YOU
*/
.bot_you {display:flex;width:100%;flex-direction:column;margin-bottom:30px;position:relative}
.bot_you_user {display:flex;width:100%;justify-content:flex-start;align-items:center;margin-bottom:10px;}
.bot_you_user span {display:flex;width:25px;height:25px;border-radius:50%;overflow:hidden;object-fit:cover;object-position:center center;background:var(--color-bot-user);justify-content:center;align-items:center;}
.bot_you_user span i {display:flex;font-size:13px;color:var(--color-bot-user-icon);}
.bot_you_user b {display:flex;margin:0 0 0 10px;font-weight:600;}
.bot_you_message {display:flex;width:calc(100% - 35px);flex-direction:column;margin-left:35px;font-size:15px;}

/*
BOT STORM
*/
.bot_storm {display:flex;width:100%;flex-direction:column;margin-bottom:30px;position:relative}
.bot_storm_user {display:flex;width:100%;justify-content:flex-start;align-items:center;margin-bottom:10px;}
.bot_storm_user span {display:flex;width:25px;height:25px;border-radius:50%;overflow:hidden;object-fit:cover;object-position:center center;background:var(--color-storm);padding:5px;}
.bot_storm_user span img {display:flex;width:100%;height:100%;}
.bot_storm_user b {display:flex;margin:0 0 0 10px;font-weight:600;color:var(--color-storm);}
.bot_storm_message {display:flex;width:calc(100% - 35px);margin-left:35px;position:relative;flex-wrap:wrap;justify-content:space-between;}

/*
BOT MESSAGE
*/
.bot .bot_message {display:block;font-size:15px;width:85%;}
.bot .bot_message a {text-decoration:underline;font-style:italic;}
.bot .bot_message b {color:var(--color-storm);}

/*
BOT LOADER
*/
.loader1 {display:block;width:calc(100% + 2px);background:var(--color-bot-right);margin:-1px 0 -2px -1px;font-size:15px;}
.loader2 {display:flex;width:24px;height:24px;background:var(--color-loader);background-position:center center;background-size:cover;}


/*
SCROLL
*/
.dash_latest ul::-webkit-scrollbar, 
.dash_trending ul::-webkit-scrollbar, 
.dash_portfolio ul::-webkit-scrollbar, 
.bot_center ul::-webkit-scrollbar, 
.bot_side_center ul::-webkit-scrollbar, 
.settings_bloc2::-webkit-scrollbar, 
.dash_search ul::-webkit-scrollbar, 
.dash_settings#wallet_my::-webkit-scrollbar 
{display:block;width:5px;}

.dash_latest ul::-webkit-scrollbar-track, 
.dash_trending ul::-webkit-scrollbar-track, 
.dash_portfolio ul::-webkit-scrollbar-track, 
.bot_center ul::-webkit-scrollbar-track, 
.bot_side_center ul::-webkit-scrollbar-track, 
.settings_bloc2::-webkit-scrollbar-track, 
.dash_search ul::-webkit-scrollbar-track, 
.dash_settings#wallet_my::-webkit-scrollbar-track 
{box-shadow:inset 0 0 0 #ccc;border-radius:10px;background:transparent;}

.dash_latest ul:hover::-webkit-scrollbar-thumb, 
.dash_trending ul:hover::-webkit-scrollbar-thumb, 
.dash_portfolio ul:hover::-webkit-scrollbar-thumb, 
.bot_center ul:hover::-webkit-scrollbar-thumb, 
.bot_side_center ul:hover::-webkit-scrollbar-thumb, 
.settings_bloc2:hover::-webkit-scrollbar-thumb, 
.dash_search ul:hover::-webkit-scrollbar-thumb, 
.dash_settings#wallet_my:hover::-webkit-scrollbar-thumb 
{background:var(--color-scroll);border-radius:10px;}

.bot_mobile {display:none;}









/*
MODULES
------------------------------------------------------------------------------------------------------------------------------
*/

.dash_list {border-radius:10px;border:1px solid var(--color-border);width:85%;position:relative;padding-bottom:5px;margin-top:15px;}
.dash_profit {border-radius:10px;overflow:hidden;border:1px solid var(--color-border);width:50%;position:relative;margin-top:15px;}
.settings_bloc {border-radius:10px;border:1px solid var(--color-border);width:85%;position:relative;margin-top:15px;z-index:0;}
.dash_performance {border-radius:10px;overflow:hidden;border:1px solid var(--color-border);width:50%;position:relative;margin-top:15px;}
.bot_token {border-radius:10px;overflow:hidden;border:1px solid var(--color-border);width:100%;position:relative;margin-top:0;}
.dash_buysell {border-radius:10px;overflow:hidden;border:1px solid var(--color-border);width:100%;position:relative;margin-top:0;}


.dash_list ul li a {padding:10px 5px 10px 5px;}
.dash_profit_dyna {padding:20px 0 20px 0;}
.dash_performance ul {height:300px;}



/*
BOT TOKEN
*/
.bot_token1 {display:flex;width:100%;}
.bot_token2 {display:flex;width:100%;justify-content:space-between;align-items:stretch;}
.bot_token2 .dash_buysell {width:49.5%;}
.bot_token2 .dash_buysell strong {display:none;}
.bot_token2 .dash_buysell ul li:nth-child(1) {margin-top:0;}
.bot_token2 .bot_token {width:49.5%;}
.bot_token2 .bot_token {display:flex;flex-direction:column;padding:10px;}
.bot_token2 .bot_token ul {display:flex;flex-direction:column;width:100%;font-size:13px;line-height:2;}
.bot_token2 .bot_token ul li {display:flex;width:100%;text-align:center;min-height:10px;font-weight:300;}
.bot_token2 .bot_token ul li b {margin-left:5px;margin-right:5px;font-weight:400;}
.bot_token2 .bot_token ul li:nth-child(2) img {display:flex;width:100%;height:100px;margin:10px 0 10px 0;border-radius:7px;overflow:hidden;object-fit:cover;object-position:center center;border:1px solid var(--color-border);}
.bot_token2 .bot_token ul li:nth-child(1) {display:flex;margin:0 0 0 0;}
.bot_token2 .bot_token ul li:nth-child(1) img {display:flex;height:30px;width:30px;object-fit:cover;object-position:center center;border-radius:50%;margin:0 10px 0 0;}
.bot_token2 .bot_token ul li:nth-child(1) em {display:flex;flex-direction:column;flex-shrink:0;line-height:1;}
.bot_token2 .bot_token ul li:nth-child(1) em u:nth-child(1) {display:flex;font-size:13px;flex-shrink:0;font-weight:500;text-decoration:none;}
.bot_token2 .bot_token ul li:nth-child(1) em u:nth-child(2) {display:flex;font-size:10px;margin-top:5px;flex-shrink:0;color:var(--color-text2);letter-spacing:0.5px;text-decoration:none;}


.bot .dash_overview {width:49.5%;}
.bot .dash_chart {width:100%;aspect-ratio:2/1;margin-bottom:8px;}



.dash .bot strong .dash_pair {display:none;}
.dash .bot strong .dash_warning {display:none;}
.dash .bot strong .dash_price {display:none;}
.dash .bot strong .dash_price {display:none;}
.dash .bot strong .tradingview_link {right:10px;}
.bot .dash_chart strong {height:60px;}
















/*
MOBILE ------------------------------------------------------------------------------------------------------------------------------
*/

@media (max-width:700px){

/*
WIREFRAME
*/
.dash, 
.dash_bloc_left, 
.dash_bloc_center, 
.dash_bloc_right, 
.dash_center_top, 
.dash_center_bottom1, 
.dash_center_bottom2, 
.dash_center_bottom3, 
.dash_left_top, 
.dash_left_bottom, 
.dash_right_top, 
.dash_right_bottom, 
.bot 
{position:relative;top:auto;left:auto;right:auto;bottom:auto;height:auto;width:100%;padding:0;margin:0;}
.dash_bloc_left, 
.dash_bloc_center, 
.dash_bloc_right 
{height:auto;}
.bot_left {display:none;z-index:100;position:fixed;width:75%;left:-75%;}
.bot_bottom {left:0;height:55px;padding-top:0;}
.bot_center {left:0;bottom:55px;}
.bot_center2 {width:100%;padding-left:20px;padding-right:20px;}


/*
SEARCH
*/
.bot_search {width:100%;padding:0;}
.bot_search form {width:100%;}
.bot_search form .bot_search_input input[type=text] {height:40px;border-radius:20px;text-indent:0;margin-left:65px;margin-right:65px;font-size:16px;}
.bot_search form .bot_search_input i.faslash {left:20px;height:30px;width:30px;border-radius:50%;background:var(--color-storm);font-size:12px;}
.bot_search form .bot_search_input input[type=submit], .bot_search form .bot_search_input i.fa-solid.fa-arrow-up {right:20px;height:30px;width:30px;border-radius:50%;background:#fff;color:#000;}
.bot_search_menu {width:auto;bottom:75px;left:20px;right:20px;}


/*
EMPTY
*/
.bot_empty {left:0;bottom:65px;}
.bot_empty0 {width:100%;}
.bot_empty1 span {width:44px;border:none;padding:10px;background:#fff;}
.bot_empty1 b {font-size:18px;}
.bot_empty2 ul {padding:0 20px 10px 20px;float:left;white-space:nowrap;overflow-y:hidden;overflow-x:scroll;-webkit-overflow-scrolling:touch;justify-content:flex-start;flex-wrap:nowrap;}
.bot_empty2 ul li {margin-right:13px;display:inline-block;width:auto;}
.bot_empty2 ul li a {border:none;background:var(--color-bloc2);padding:12px 20px 12px 20px;}
.bot_empty2 ul li a span:nth-child(1) {font-size:16px;}
.bot_empty2 ul li a span:nth-child(2) {font-size:14px;}
.bot_empty2 ul::-webkit-scrollbar {display:none;}
		
	
.bot_mobile {position:fixed;top:0;left:0;right:0;height:50px;background:var(--color-bloc);z-index:50;display:flex;align-items:center;justify-content:space-between;}
.bot_mobile a:nth-child(1) {display:flex;flex-direction:column;padding-left:20px;width:100px;justify-content:flex-start;line-height:1;}
.bot_mobile a:nth-child(1) span:nth-child(1) {display:flex;width:20px;height:2px;border-radius:10px;background:var(--color-text);margin:0 0 3px 0;}
.bot_mobile a:nth-child(1) span:nth-child(2) {display:flex;width:14px;height:2px;border-radius:10px;background:var(--color-text);margin:3px 0 0 0;}
.bot_mobile a:nth-child(2) {display:flex;font-size:18px;line-height:1;color:var(--color-storm);font-weight:700;}
.bot_mobile a:nth-child(3) {display:flex;padding-right:20px;width:100px;justify-content:flex-end;}
.bot_mobile a:nth-child(3) i {color:var(--color-text2);font-size:18px;line-height:1;margin-top:-5px;}
	
	
.bot_left .bot_side_top {display:none;}
.bot_side_gas {display:none;}
	
.bot_empty1 b {display:none;}



.bot_storm_message {display:flex;flex-direction:column;justify-content:flex-start;align-items:flex-start;}



.bot .search_bloc .dash_search {display:none;}



body {background:var(--color-bloc);}

.dash_list {width:100%;}
.dash_profit {width:100%;}
.settings_bloc {width:100%;}
.bot .bot_message {width:100%;}
.dash_performance {width:100%;}


.bot_token1 {height:100%;justify-content:flex-start;align-items:flex-start;}
.bot_token2 {flex-direction:column;justify-content:flex-start;align-items:flex-start;}
.bot_token2 .dash_buysell {width:100%;order:2;}
.bot_token2 .dash_buysell ul li {height:50px;}
.bot_token2 .bot_token {width:100%;order:1;margin-bottom:10px;}
.bot_token2 .bot_token {display:flex;flex-direction:column;padding:10px;}


.bot {position:relative;}
.bot_left {position:fixed;}
.bot_bottom {position:fixed;}
.bot_center {position:relative;padding:70px 0 0 0;}
.bot_empty {position:fixed;}
.bot_mobile {position:fixed;}


}






