
/*
DASHBOARD ------------------------------------------------------------------------------------------------------------------------------
*/


/*
DASH
*/
.dash {position:fixed;top:0;left:0;right:0;bottom:0;background:var(--color-bloc);color:var(--color-text);}
.dash.light {background:var(--color-bloc);color:var(--color-text);}


/*
DASH HEADER
*/
.dash_header {display:flex;width:100%;justify-content:space-between;align-items:center;height:70px;padding:0 20px 0 20px;position:fixed;top:0;left:0;right:0;z-index:10;font-size:13px;}
.dash_header_top_left {display:flex;align-items:center;}
.dash_header_top_right {display:flex;align-items:center;}
.dash_header_logo a {display:flex;align-items:center;}
.dash_header_logo a svg {height:26px;fill:var(--color-storm);}
.dash_header_logo a b {margin:0 0 0 10px;color:var(--color-storm);font-size:26px;line-height:1;margin-bottom:5px;font-family:'MuseoModerno';font-weight:700;letter-spacing:-0.4px;}
.dash_header_nav {display:flex;align-items:center;}
.dash_header_nav a {display:flex;height:40px;border-radius:20px;align-items:center;cursor:pointer;margin-left:30px;flex-direction:row-reverse;}
.dash_header_nav a i {display:flex;justify-content:center;align-items:center;font-size:12px;margin-right:7px;}
.dash_header_nav a i.fa-brands.fa-telegram {font-size:20px;}
.dash_header_nav a i.fa-solid.fa-chart-simple {font-size:18px;margin-top:-3px;}
.dash_header_nav a i.fa-solid.fa-robot {font-size:18px;margin-top:-3px;}
.dash_header_nav a.dash_header_top_right_circle {display:flex;margin-left:10px;}
.dash_header_nav a.dash_header_top_right_circle i {display:flex;font-size:16px}
.dash_header_nav a.on {background:var(--color-storm);color:#fff;padding-right:10px;}
.dash_header_nav a.on i {margin-left:10px;}
.dash_header_nav em {display:flex;margin:0 10px 0 20px;height:40px;border:1px solid var(--color-border);background:var(--color-bloc);border-radius:20px;align-items:center;padding:0 14px 0 16px;cursor:pointer;}
.dash_header_nav em i {display:flex;justify-content:center;align-items:center;margin-left:7px;font-size:12px;}
.dash_header_search {display:flex;position:relative;margin-left:30px;}
.dash_header_search form {display:flex;align-items:center;border:1px solid var(--color-border);background:none;border-radius:20px;height:40px;padding:0 15px 0 15px;width:200px;cursor:pointer;flex-shrink:0;background:var(--color-bloc2);border:1px solid var(--color-bloc2);}
.dash_header_search form i {display:flex;margin:0 9px 0 0;font-size:15px;}
.dash_header_search form input {display:flex;background:none;border:none;font-size:13px;font-weight:400;letter-spacing:-0.2px;color:var(--color-text);height:100%;border:2px solid transparent;}
.dash_header_search form.focus {background:var(--color-bloc);border:2px solid var(--color-storm);}
.dash_header_search form.focus i {color:var(--color-storm);}
.dash_header_top_left .dash_header_nav a {margin-left:30px;}
.dash_header_nav a i.fa-solid.fa-mug-hot {font-size:18px;margin-top:-5px;}
.dash_header_nav span {display:flex;align-items:center;}
.dash_header_nav span i.fa-solid.fa-gas-pump {font-size:16px;margin-right:7px;margin-top:-2px;}

/*
DASH STRONG
*/
.dash strong {display:flex;font-weight:normal;height:70px;width:100%;border-bottom:1px solid var(--color-border);align-items:center;padding:0 0 0 20px;font-size:13px;flex-shrink:0;}
.dash strong .tradingview_title {display:flex;align-items:center;}
.dash strong .tradingview_title img {display:flex;height:40px;width:40px;object-fit:cover;object-position:center center;border-radius:50%;margin:0 10px 0 -10px;}
.dash strong .tradingview_title em {display:flex;margin:0 12px 0 -7px;height:40px;width:40px;justify-content:center;align-items:center;color:#141721;border-radius:5px;background:var(--color-bloc2);background:var(--color-bloc2);}
.dash strong .tradingview_title em i {font-size:22px;color:var(--color-text);}
.dash strong .tradingview_title em span {font-size:26px;color:var(--color-text);display:none;}
.dash strong .tradingview_title div {display:flex;flex-direction:column;}
.dash strong .tradingview_title div span:nth-child(1) {display:flex;font-size:16px;line-height:1;}
.dash strong .tradingview_title div span:nth-child(2) {display:flex;font-size:11px;line-height:1;margin-top:7px;letter-spacing:0.5px;color:var(--color-text2);text-transform:uppercase;}
.dash strong .tradingview_title div span:nth-child(2) i {font-size:11px;margin:0 5px 0 5px;cursor:pointer;}
.dash strong .tradingview_title div span:nth-child(2) u {display:flex;margin-left:4px;text-decoration:none;color:var(--color-storm);}
.dash strong .dash_token {position:absolute;right:20px;display:flex;height:40px;border-radius:20px;background:var(--color-bloc2);justify-content:center;align-items:center;padding:0 20px 0 20px;}
.dash strong .dash_token b {font-weight:normal;}
.dash strong .dash_conversion {display:flex;position:absolute;right:20px;}
.dash strong .dash_conversion a {display:flex;height:40px;border-radius:20px;border:1px solid var(--color-border);justify-content:center;align-items:center;padding:0 20px 0 20px;}
.dash strong .dash_conversion a i {margin-left:7px;font-size:12px;}
.dash strong .dash_price {display:flex;flex-direction:column;display:flex;height:auto;border-radius:5px;justify-content:center;align-items:center;padding:10px 20px 10px 20px;margin:0 0 0 15px;height:50px;background:var(--color-bloc3);}
.dash strong .dash_price span {font-size:20px;line-height:1;}
.dash strong .dash_share {display:flex;position:absolute;right:0;}
.dash strong .dash_share button {display:flex;height:40px;border-radius:20px;border:1px solid var(--color-border);justify-content:center;align-items:center;padding:0 15px 0 20px;color:var(--color-text);cursor:pointer;}
.dash strong .dash_share button i {margin-left:7px;font-size:16px;}
.dash strong .dash_pair {display:flex;flex-direction:column;display:flex;height:auto;border-radius:5px;justify-content:center;align-items:flex-start;padding:0 10px 0 10px;margin:0 0 0 5px;height:50px;background:var(--color-bloc3);}
.dash strong .dash_pair span {line-height:1;display:flex;align-items:center;font-size:10px;margin-top:4px;padding-bottom:4px;}
.dash strong .dash_pair span a {display:flex;margin:0 10px 0 10px;color:var(--color-text);}
.dash strong .dash_pair span i {cursor:pointer;color:var(--color-text2);}
.dash strong .dash_pair span em {color:var(--color-text2);letter-spacing:0.5px;text-transform:uppercase;}
.dash strong .dash_warning {display:flex;flex-direction:column;display:flex;height:auto;border-radius:5px;background:var(--color-bloc3);justify-content:center;align-items:flex-start;margin:0 0 0 5px;height:50px;text-transform:uppercase;}
.dash strong .dash_warning span {display:flex;width:100%;height:50%;justify-content:center;align-items:center;font-size:10px;}
.dash strong .dash_warning span em {display:flex;width:100%;height:50%;justify-content:center;align-items:center;flex-shrink:0;padding-left:10px;padding-right:10px;}
.dash strong .dash_warning span:nth-child(1) {text-transform:uppercase;color:var(--color-text2);letter-spacing:0.5px;}
.dash strong .dash_warning span:nth-child(2) {border-top:1px solid var(--color-border);letter-spacing:0.5px;}
.dash strong .tradingview_link {display:flex;position:absolute;right:10px;}
.dash strong .tradingview_link span {display:flex;height:40px;border-radius:20px;border:1px solid var(--color-border);justify-content:center;align-items:center;padding:0 20px 0 20px;cursor:pointer;}
.dash strong .tradingview_link ul {display:none;}
.dash strong .tradingview_link ul li {display:flex;margin:0 5px 0 5px;}
.dash strong .tradingview_link ul li img {display:flex;width:100%;height:100%;width:22px;height:22px;background:#fff;border:1px solid #fff;border-radius:50%;overflow:hidden;object-fit:cover;object-position:center center;}
.dash strong .tradingview_link:hover span {display:none;}
.dash strong .tradingview_link:hover ul {display:flex;position:absolute;right:0;height:50px;border-radius:25px;padding:0 12px 0 12px;background:var(--color-bloc);border:1px solid var(--color-border);align-items:center;top:-25px;;z-index:2;}
.dash strong .dash_score {display:flex;position:absolute;right:20px;}
.dash strong .dash_score span {display:flex;height:48px;width:80px;border-radius:40px;border:3px solid var(--color-storm);justify-content:center;align-items:center;color:var(--color-text);border-bottom-right-radius:0;border-bottom-left-radius:0;border-bottom:none;align-items:flex-end;line-height:1;margin-top:-3px;position:relative;}
.dash strong .dash_score span b {display:flex;font-size:22px;align-items:flex-end;letter-spacing:-0.1px;flex-wrap:wrap;justify-content:center;}
.dash strong .dash_score span em {display:none;font-size:8px;width:20px;margin:0 -17px 3px 0;font-weight:normal;color:var(--color-text2);}
.dash strong .dash_score span u {display:flex;width:100%;color:var(--color-text2);font-size:8px;text-decoration:none;justify-content:center;font-weight:normal;text-transform:uppercase;margin-top:2px;padding-right:2px;padding-right:0;}
.dash strong .dash_score span div i:nth-child(1) {position:absolute;height:6px;aspect-ratio:1/1;top:20px;left:-2px;background:var(--color-bloc);border-radius:50%;}
.dash strong .dash_score span div i:nth-child(2) {position:absolute;height:6px;aspect-ratio:1/1;top:-1px;left:18px;background:var(--color-bloc);border-radius:50%;}
.dash strong .dash_score span div i:nth-child(3) {position:absolute;height:6px;aspect-ratio:1/1;top:-1px;right:18px;background:var(--color-bloc);border-radius:50%;}
.dash strong .dash_score span div i:nth-child(4) {position:absolute;height:6px;aspect-ratio:1/1;top:20px;right:-2px;background:var(--color-bloc);border-radius:50%;}
.dash strong .dash_share {display:flex;position:absolute;right:10px;}
.dash strong .dash_share a {display:flex;height:40px;border-radius:20px;border:1px solid var(--color-border);justify-content:center;align-items:center;padding:0 10px 0 20px;color:var(--color-text);cursor:pointer;}
.dash strong .dash_share a i {margin-left:7px;font-size:16px;}


/*
LATEST
*/
.dash_list {display:flex;flex-direction:column;width:100%;height:100%;}
.dash_list ul {display:flex;width:100%;flex-direction:column;overflow-y:auto;padding-left:15px;padding-right:5px;}
.dash_list ul li {display:flex;width:100%;align-items:center;cursor:pointer;}
.dash_list ul li a {display:flex;width:100%;align-items:center;justify-content:space-between;padding:20px 0 20px 10px;font-size:11px;line-height:1;text-transform:uppercase;}
.dash_list ul li a span {display:flex;}
.dash_list ul li a span:nth-child(1) img {display:flex;height:30px;width:30px;object-fit:cover;object-position:center center;border-radius:50%;margin:0 10px 0 0;}
.dash_list ul li a span:nth-child(1) div {display:flex;flex-direction:column;flex-shrink:0;}
.dash_list ul li a span:nth-child(1) div b {display:flex;font-size:13px;flex-shrink:0;font-weight:500;}
.dash_list ul li a span:nth-child(1) div em {display:flex;font-size:10px;margin-top:5px;flex-shrink:0;color:var(--color-text2);letter-spacing:0.5px;}
.dash_list ul li a span:nth-child(1) {width:40%;flex-shrink:0;}
.dash_list ul li a span:nth-child(2) {width:30%;justify-content:flex-end;}
.dash_list ul li a span:nth-child(3) {width:30%;justify-content:flex-end;}
.dash_list ul li a span:nth-child(4) {width:30px;justify-content:center;flex-shrink:0;}
.dash_list ul li a span:nth-child(4) i:nth-child(1) {display:flex;color:var(--color-text2);}
.dash_list ul li a span:nth-child(4) i:nth-child(2) {display:none;color:var(--color-text2);}
.dash_list ul li:nth-child(1) {position:sticky;top:0;background:var(--color-bloc);z-index:1;height:30px;flex-shrink:0;padding:0;}
.dash_list ul li:nth-child(1) a span {height:100%;color:var(--color-text2);font-size:10px;letter-spacing:0.5px;}
.dash_list ul li:nth-last-child(1) {border:none;}
.dash_list ul li:nth-child(2n) {background:var(--color-bloc3);border-radius:5px;}
.dash_list ul li:hover a span:nth-child(4) i:nth-child(1) {display:flex;color:var(--color-storm);}
.dash_list ul li:hover a span:nth-child(4) i:nth-child(2) {display:none;color:var(--color-storm);}

/*
CHART
*/
.dash_chart {display:flex;flex-direction:column;width:100%;height:100%;}
.dash_chart strong {border-bottom:none;position:relative;}
.dash_chart .dash_chart_toolbar_top {display:var(--color-toolbar);width:100%;position:absolute;height:42px;top:71px;pointer-events:none;backdrop-filter:grayscale(100%);background:rgba(0,0,0,0.5);}
.dash_chart .dash_chart_toolbar_left {display:var(--color-toolbar);width:56px;position:absolute;top:110px;left:0;bottom:0;pointer-events:none;backdrop-filter:grayscale(100%);background:rgba(0,0,0,0.5);}


/*
OVERVIEW
*/
.dash_overview {display:flex;flex-direction:column;width:100%;height:100%;}
.dash_overview ul {display:flex;width:100%;flex-wrap:wrap;padding:10px;height:100%;}
.dash_overview ul li {display:flex;flex-direction:column;width:48%;border-radius:5px;margin:1%;justify-content:center;align-items:center;position:relative;height:19%;background:var(--color-bloc3);}
.dash_overview ul li span:nth-child(1) {font-size:11px;text-transform:uppercase;line-height:1;letter-spacing:0.5px;color:var(--color-text2);}
.dash_overview ul li span:nth-child(1) i {cursor:pointer;position:absolute;top:10px;right:10px;}
.dash_overview ul li span:nth-child(2) {line-height:1;margin-top:7px;font-size:14px;display:flex;align-items:center;}
.dash_overview ul li span:nth-child(2) b {display:flex;height:20px;width:20px;border-radius:50%;justify-content:center;align-items:center;line-height:1;background:var(--color-border);font-weight:normal;font-size:10px;margin-right:3px;}
.dash_overview ul li span:nth-child(2) i {display:flex;height:20px;width:20px;border-radius:50%;justify-content:center;align-items:center;line-height:1;background:var(--color-border);font-size:8px;margin-left:5px;}
.dash_overview ul li span:nth-child(2) i.fa-solid.fa-lock {position:relative;}
.dash_overview ul li span:nth-child(2) u {display:flex;width:10px;height:10px;}
.dash_overview ul div {display:flex;width:100%;background:var(--color-bloc3);border-radius:5px;flex-direction:column;margin:1%;height:35%;}
.dash_overview ul div span {display:flex;width:100%;align-items:center;}
.dash_overview ul div span b {display:flex;width:20%;justify-content:center;font-weight:normal;font-size:11px;text-transform:uppercase;}
.dash_overview ul div span:nth-child(1) {border-bottom:1px solid var(--color-border);padding:2px 10% 2px 10%;margin-bottom:2px;}
.dash_overview ul div span:nth-child(1) b {cursor:pointer;width:25%;color:var(--color-text2);letter-spacing:0.5px;}
.dash_overview ul div span:nth-child(1) b.on {color:var(--color-text);}
.dash_overview ul div span:nth-child(2) {align-items:flex-end;height:15%;color:var(--color-text2);letter-spacing:0.5px;}
.dash_overview ul div span:nth-child(3) {align-items:flex-start;height:15%;}
.dash_overview ul div span:nth-child(4) {padding-left:18px;padding-right:18px;align-items:flex-start;margin:5px 0 5px 0;}
.dash_overview ul div span:nth-child(4) b:nth-child(1) {height:4px;border-radius:2px;margin-right:0.5%;}
.dash_overview ul div span:nth-child(4) b:nth-child(2) {height:4px;border-radius:2px;margin-left:0.5%;}
.dash_overview ul div span:nth-child(5) {justify-content:space-between;align-items:flex-end;font-size:11px;padding-left:18px;padding-right:18px;height:15%;color:var(--color-text2);letter-spacing:0.5px;text-transform:uppercase;}
.dash_overview ul div span:nth-child(5) b:nth-child(1) {width:auto;}
.dash_overview ul div span:nth-child(5) b:nth-child(2) {width:auto;}
.dash_overview ul div span:nth-child(6) {justify-content:space-between;align-items:flex-start;font-size:11px;padding-left:18px;padding-right:18px;height:15%;}
.dash_overview ul div span:nth-child(6) b:nth-child(1) {width:auto;}
.dash_overview ul div span:nth-child(6) b:nth-child(2) {width:auto;}
.dash_overview ul li span:nth-child(2) i.fa-solid.fa-lock em {display:none;}
.dash_overview ul li span:nth-child(2) i.fa-solid.fa-lock:hover em {position:absolute;top:25px;left:-120px;white-space:normal;flex-shrink:0;width:140px;background:var(--color-border);height:18px;display:flex;justify-content:center;align-items:center;letter-spacing:1px;border-radius:3px;text-transform:lowercase;line-height:1;}


/*
BUY SELL
*/
.dash_buysell {display:flex;flex-direction:column;width:100%;height:100%;font-size:13px;}
.dash_buysell ul {display:flex;width:100%;padding:10px;height:100%;flex-direction:column;justify-content:space-between;}
.dash_buysell ul li {display:flex;width:100%;height:100%;margin:1% 0 1% 0;justify-content:center;align-items:center;position:relative;}
.dash_buysell ul li a {letter-spacing:-0.5px;line-height:1;width:100%;height:100%;justify-content:center;align-items:center;display:flex;border-radius:5px;margin-right:2%;position:relative;background:var(--color-bloc3);border:1px solid var(--color-border);}
.dash_buysell ul li a:nth-last-child(1) {margin-right:0;}
.dash_buysell ul li a i {font-size:11px;display:flex;margin-right:7px;}
.dash_buysell ul li a i.fa-solid.fa-sack-dollar {color:var(--color-yellow);}
.dash_buysell ul li a i.fa-solid.fa-circle {color:var(--color-red);}
.dash_buysell ul li a i.fa-solid.fa-rocket {color:var(--color-purple);}
.dash_buysell ul li a i.fa-solid.fa-gear {color:var(--color-text2);}
.dash_buysell ul li a i.fa-solid.fa-check {color:var(--color-green);}
.dash_buysell ul li:nth-child(1) {display:flex;width:100%;background:none;border-radius:5px;margin:1% 0 9px 0;padding:7px;position:relative;align-items:center;height:50px;flex-shrink:0;background:var(--color-bloc2);}
.dash_buysell ul li:nth-child(1) a {letter-spacing:0;display:flex;width:33.33%;height:100%;justify-content:center;font-weight:normal;cursor:pointer;align-items:center;background:none;border:none;margin:0;}
.dash_buysell ul li:nth-child(1) a.on {background:var(--color-storm);color:#fff;border-radius:5px;box-shadow:0;}

/*
PROFIT
*/
.dash_profit {display:flex;flex-direction:column;width:100%;height:100%;}
.dash_profit_dyna {display:flex;width:100%;height:100%;justify-content:center;align-items:center;flex-direction:column;position:relative;}
.dash_profit_dyna div {display:flex;width:auto;padding:0;margin:0;width:220px;}
.dash_profit_dyna1 {margin:0 0 15px 0;font-weight:400;color:var(--color-text);font-size:13px;letter-spacing:0.5px;}
.dash_profit_dyna2 {display:flex;justify-content:center;align-items:center;flex-direction:column;width:220px;aspect-ratio:1/1;margin:-220px 0 0 0;padding-top:5px;}
.dash_profit_dyna2 span:nth-child(1) {font-size:3.5vh;color:var(--color-text);line-height:1;font-weight:600;display:flex;align-items:flex-end;letter-spacing:-2px;}
.dash_profit_dyna2 span:nth-child(2) {font-weight:normal;line-height:1;font-size:11px;text-transform:uppercase;margin-top:3px;color:var(--color-text2);letter-spacing:0.5px;}
.dash_profit_dyna3 {font-size:6vh;font-weight:700;line-height:1;margin-top:10px;letter-spacing:-2px;}


/*
PERFORMANCE
*/
.dash_performance {display:flex;flex-direction:column;width:100%;height:100%;}
.dash_performance ul {display:flex;width:100%;flex-wrap:wrap;padding:10px;height:100%;}
.dash_performance ul li {display:flex;flex-direction:column;width:48%;background:var(--color-bloc3);border-radius:5px;margin:1%;justify-content:center;align-items:center;position:relative;}
.dash_performance ul li span:nth-child(1) {font-size:11px;text-transform:uppercase;line-height:1;letter-spacing:0.5px;color:var(--color-text2);}
.dash_performance ul li span:nth-child(1) i {cursor:pointer;position:absolute;top:10px;right:10px;}
.dash_performance ul li span:nth-child(2) {line-height:1;margin-top:7px;font-size:14px;display:flex;align-items:center;}
.dash_performance ul li span:nth-child(2) b {display:flex;height:20px;width:20px;border-radius:50%;justify-content:center;align-items:center;line-height:1;color:#fff;background:var(--color-border);font-weight:normal;font-size:10px;margin-right:3px;}
.dash_performance ul li span:nth-child(2) i {display:flex;height:20px;width:20px;border-radius:50%;justify-content:center;align-items:center;line-height:1;color:#fff;background:var(--color-border);font-size:10px;margin-left:5px;}
.dash_performance ul li span:nth-child(2) u {display:flex;width:10px;height:10px;}


/*
WIREFRAME
*/
.dash_bloc_left {position:fixed;top:70px;right:81%;left:20px;bottom:0;border:1px solid var(--color-border);border-radius:10px;border-bottom-left-radius:0;border-bottom-right-radius:0;overflow-y:auto;}
.dash_bloc_center {position:fixed;top:70px;left:20%;right:20%;bottom:0;border:1px solid var(--color-border);border-radius:10px;border-bottom-left-radius:0;border-bottom-right-radius:0;overflow:hidden;}
.dash_bloc_right {position:fixed;top:70px;left:81%;right:20px;bottom:0;border:1px solid var(--color-border);border-radius:10px;border-bottom-left-radius:0;border-bottom-right-radius:0;overflow-y:auto;}
.dash_center_bottom1 {top:calc(50% + 30px);right:60.5%;left:20%;}
.dash_center_bottom2 {top:calc(50% + 30px);left:40%;right:40%;z-index:1;}
.dash_center_bottom3 {top:calc(50% + 30px);left:60.5%;right:20%;}
.dash_right_bottom {top:calc(50% + 30px);left:81%;right:20px;}
.dash_left_bottom {top:calc(50% + 30px);right:81%;left:20px;}
.dash_center_bottom1, 
.dash_center_bottom2, 
.dash_center_bottom3, 
.dash_right_bottom, 
.dash_left_bottom 
{position:fixed;bottom:0;background:var(--color-bloc);border-radius:10px;border-bottom-left-radius:0;border-bottom-right-radius:0;border-bottom:0;border:1px solid var(--color-border);overflow:hidden;border-bottom:0;box-shadow:var(--color-shadow3);}
.dash_left_top {bottom:calc(50% - 30px);right:81%;left:20px;border-bottom-left-radius:0;border-bottom-right-radius:0;}
.dash_right_top {bottom:calc(50% - 30px);left:81%;right:20px;border-bottom-left-radius:0;border-bottom-right-radius:0;}
.dash_center_top {bottom:calc(50% - 30px);left:20%;right:20%;}
.dash_left_top, 
.dash_center_top, 
.dash_right_top 
{position:fixed;top:70px;background:var(--color-bloc);border-radius:10px;overflow:hidden;border:1px solid var(--color-border);border-bottom:0;border-bottom-left-radius:0;border-bottom-right-radius:0;}
.dash_center_bottom2 {border:2px solid var(--color-storm);border-bottom:none;}


/*
WALLET
*/
.settings_bloc {display:flex;width:100%;z-index:100;background:var(--color-bloc);position:relative;flex-direction:column;border-radius:10px;border:1px solid var(--color-border);}
.settings_bloc .settings_bloc_title {display:flex;height:75px;width:100%;justify-content:space-between;align-items:center;font-size:16px;padding:0 25px 0 25px;border-bottom:1px solid var(--color-border);}
.settings_bloc .settings_bloc_title i {display:none;}
.settings_bloc2 {display:flex;width:100%;padding:0 25px 0 0;}
.dash_wallet {display:flex;width:100%;flex-direction:row;}
.dash_wallet1 {display:flex;width:215px;padding:15px 40px 25px 15px;flex-direction:column;flex-shrink:0;}
.dash_wallet1 ul {display:flex;width:100%;flex-direction:column;font-size:12px;margin:0 0 10px 0;}
.dash_wallet1 ul li {display:flex;width:100%;align-items:center;height:32px;border-radius:5px;}
.dash_wallet1 ul li a {display:flex;width:100%;align-items:center;cursor:pointer;}
.dash_wallet1 ul li b {display:flex;width:100%;align-items:center;color:var(--color-text2);padding:0 0 0 10px;font-weight:normal;text-transform:uppercase;letter-spacing:0.5px;}
.dash_wallet1 ul li i {display:flex;padding:0 10px 0 10px;}
.dash_wallet1 ul li.on {background:var(--color-bloc2);}
.dash_wallet2 {display:flex;width:100%;flex-direction:column;}
.dash_settings {display:none;width:100%;flex-wrap:wrap;padding:25px 0 0 0;}
.dash_settings_title {display:none;}
.dash_settings form {display:flex;width:100%;flex-wrap:wrap;justify-content:space-between;}
.dash_settings form li {display:flex;width:49%;flex-direction:column;margin:0 0 10px 0;position:relative;}
.dash_settings form li.dash_settings_w100 {width:100%;}
.dash_settings form li label {font-size:12px;color:var(--color-text1);margin-bottom:5px;pointer-events:none;}
.dash_settings form li input[type=text] {display:flex;width:100%;height:40px;border:1px solid var(--color-border);border-radius:5px;padding:0 15px 0 15px;color:var(--color-color);background:transparent;font-size:12px;}
.dash_settings form li input[type=text]:focus {border-color:var(--color-text);}
.dash_settings form li input[type=submit] {display:flex;width:100%;height:40px;border-radius:5px;padding:0;color:#fff;background:var(--color-storm);justify-content:center;align-items:center;cursor:pointer;font-size:12px;margin-top:5px;}
.dash_settings span {display:none;width:100%;flex-direction:column;padding:10px 0 25px 0;font-size:12px;color:var(--color-text2);}
.dash_settings span b {color:var(--color-text);font-weight:500;}
.dash_settings form li.w100 {display:flex;width:100%;}
.dash_settings form li:nth-last-child(1) {display:flex;width:100%;}
.dash_settings form li.dash_settings_confirmation {display:block;width:100%;font-size:12px;}
.dash_settings form li.dash_settings_confirmation b {font-weight:500;font-size:14px;}
.dash_settings form li.dash_settings_confirmation p {display:block;margin-top:15px;}
.dash_settings form li.dash_settings_confirmation p em {display:flex;margin-top:15px;word-break:break-all;background:var(--color-bloc2);border-radius:5px;padding:10px 35px 10px 15px;position:relative;}
.dash_settings form li.dash_settings_confirmation p em i {position:absolute;top:13px;right:15px;cursor:pointer;color:var(--color-text2);}
.dash_settings form li.dash_settings_wallets {display:flex;width:100%;flex-direction:column;background:var(--color-bloc);border:1px solid var(--color-border);border-radius:5px;justify-content:center;align-items:center;overflow:hidden;font-size:12px;}
.dash_settings form li.dash_settings_wallets div:nth-child(1) {display:flex;width:100%;justify-content:space-between;align-items:center;padding:10px 10px 10px 13px;position:relative;}
.dash_settings form li.dash_settings_wallets div:nth-child(1) u:nth-child(1) {display:flex;align-items:center;text-decoration:none;}
.dash_settings form li.dash_settings_wallets div:nth-child(1) u:nth-child(1) i {display:flex;margin:0 10px 0 0;padding:0;pointer-events:auto;cursor:pointer;font-size:14px;color:var(--color-text2);}
.dash_settings form li.dash_settings_wallets div:nth-child(1) u:nth-child(2) {display:flex;align-items:center;text-decoration:none;}
.dash_settings form li.dash_settings_wallets div:nth-child(1) u:nth-child(2) i {display:flex;margin:0;padding:0;cursor:pointer;pointer-events:auto;color:var(--color-text2);}
.dash_settings form li.dash_settings_wallets div:nth-child(2) {display:flex;width:100%;justify-content:flex-start;align-items:center;padding:10px 0 10px 13px;border-bottom:1px solid var(--color-border);border-top:1px solid var(--color-border);color:var(--color-text);border-radius:none;}
.dash_settings form li.dash_settings_wallets div:nth-child(3) {display:flex;width:100%;justify-content:space-between;font-size:12px;padding:10px;}
.dash_settings form li.dash_settings_wallets div:nth-child(3) a {display:flex;width:100%;justify-content:center;align-items:center;padding:5px 0 5px 0;border-radius:5px;overflow:hidden;margin-right:2%;cursor:pointer;background:var(--color-bloc2);}
.dash_settings form li.dash_settings_wallets div:nth-child(3) a i {display:none;}
.dash_settings form li.dash_settings_wallets div:nth-child(3) a.on {background:var(--color-storm);color:#fff;}
.dash_settings form li.dash_settings_wallets div:nth-child(3) a.on i {display:flex;margin-left:5px;}
.dash_settings form li.dash_settings_wallets div:nth-child(3) a:nth-last-child(1) {margin-right:0;}
.dash_settings form li.w100b {width:100%;flex-direction:row;justify-content:space-between;padding-bottom:25px;}
.dash_settings form li .wallet_import2_img {display:flex;width:33%;flex-direction:column;font-size:12px;}
.dash_settings form li .wallet_import2_img img {display:flex;width:100%;}
.dash_settings form li .wallet_import2_img img:hover {transform:scale(2);}
.dash_settings form .dash_preference {display:flex;width:100%;flex-direction:column;font-size:12px;}
.dash_settings form .dash_preference div {display:flex;width:100%;justify-content:space-between;align-items:center;position:relative;height:60px;border-bottom:1px solid var(--color-border);}
.dash_settings form .dash_preference div b:nth-child(1) {display:flex;font-weight:normal;}
.dash_settings form .dash_preference div b:nth-child(2) {display:flex;}
.dash_settings form .dash_preference div b:nth-child(2) span {display:flex;align-items:center;flex-direction:row;justify-content:flex-end;height:30px;font-weight:normal;border-radius:5px;justify-content:flex-end;align-items:center;padding:0 10px 0 10px;cursor:pointer;color:var(--color-text);}
.dash_settings form .dash_preference div b:nth-child(2) span:hover {background:var(--color-bloc2);}
.dash_settings form .dash_preference div b:nth-child(2) span i {margin:0 0 0 5px;}
.dash_settings form .dash_preference div ul {display:none;background:var(--color-bloc);border:1px solid var(--color-border);border-radius:7px;position:absolute;top:50px;right:0;flex-direction:column;padding:5px 0 5px 0;z-index:100;}
.dash_settings form .dash_preference div ul li {display:flex;flex-direction:row;align-items:center;width:200px;margin:0;padding:0 5px 0 5px;}
.dash_settings form .dash_preference div ul li a {display:flex;flex-direction:row;align-items:center;width:100%;justify-content:flex-start;padding:7px 15px 7px 15px;margin:0;cursor:pointer;font-weight:normal;height:auto;margin:0;border-radius:5px;}
.dash_settings form .dash_preference div ul li a:hover {background:var(--color-bloc2);}
.dash_settings form .dash_preference div u {display:flex;align-items:center;flex-direction:row;justify-content:flex-end;height:30px;font-weight:normal;border-radius:5px;justify-content:flex-end;align-items:center;padding:0 10px 0 10px;cursor:pointer;color:var(--color-text);background:var(--color-storm);text-decoration:none;color:#fff;}
.dash_settings form .dash_preference div u a {color:#fff;}

/*
SEARCH
*/
.search {display:none;z-index:100;}
.search_bloc {display:flex;position:absolute;top:44px;left:0;right:0;z-index:100;background:var(--color-bloc);flex-direction:column;border-radius:10px;border:1px solid var(--color-border);padding:5px 0 5px 10px;}
.dash_search ul {max-height:400px;overflow-y:auto;padding-left:0;}


/*
SETTINGS
*/
.settings {display:none;position:fixed;top:0;left:0;right:0;bottom:0;z-index:100;justify-content:center;align-items:center;}
.settings_background {position:fixed;top:0;left:0;right:0;bottom:0;background:var(--color-background-popup-search);display:flex;opacity:0;}
.settings .settings_bloc {width:700px;box-shadow:var(--color-shadow2);background:var(--color-bloc);border:1px solid var(--color-border);}
.settings .settings_bloc .settings_bloc_title i {display:flex;font-size:14px;cursor:pointer;}
.settings .dash_settings#wallet_my {max-height:450px;overflow-y:auto;padding-right:15px;}
.settings .settings_bloc {margin-top:150px;}


/*
STATS
*/
#dash_stats {display:none;position:fixed;top:0;left:0;right:0;bottom:0;z-index:100;}
#dash_stats .dash_stats {position:fixed;top:0;left:0;right:0;bottom:0;background:var(--color-background-popup-search);backdrop-filter:blur(20px);-webkit-backdrop-filter:blur(20px);display:flex;justify-content:flex-end;align-items:flex-start;color:#fff;opacity:0;}
#dash_stats .dash_stats i {display:flex;height:50px;width:50px;justify-content:center;align-items:center;cursor:pointer;color:var(--color-text);}
#dash_stats .dash_stats2 {display:flex;position:fixed;top:200px;left:0;right:0;bottom:0;width:100%;z-index:100;flex-direction:column;justify-content:center;align-items:center;background:var(--color-bot-right);border-top-left-radius:20px;border-top-right-radius:20px;border-bottom:none;box-shadow:var(--color-shadow2);border:1px solid var(--color-border);border-left:0;border-right:0;border-bottom:0;}
#dash_stats .dash_stats2 canvas {height:60vh;overflow:hidden;border-radius:10px;aspect-ratio:1/1;}
#dash_stats .dash_stats2 span {display:flex;margin:-25px 0 25px 0;}
#dash_stats .dash_stats2 span em {display:flex;padding:0 20px 0 20px;align-items:center;}
#dash_stats .dash_stats2 span b {display:flex;margin:0 10px 0 0;font-weight:normal;font-size:14px;}
#dash_stats .dash_stats2 span a {display:flex;margin:0 5px 0 5px;cursor:pointer;border:1px solid var(--color-border);border-radius:50%;height:36px;width:36px;justify-content:center;align-items:center;}
#dash_stats .dash_stats2 span a i {font-size:13px;}


/*
SCROLL
*/
.dash_latest ul::-webkit-scrollbar, 
.dash_trending ul::-webkit-scrollbar, 
.dash_portfolio ul::-webkit-scrollbar, 
.bot_center ul::-webkit-scrollbar, 
.bot_side_center ul::-webkit-scrollbar, 
.settings_bloc2::-webkit-scrollbar, 
.dash_search ul::-webkit-scrollbar, 
.dash_settings#wallet_my::-webkit-scrollbar 
{display:block;width:5px;}

.dash_latest ul::-webkit-scrollbar-track, 
.dash_trending ul::-webkit-scrollbar-track, 
.dash_portfolio ul::-webkit-scrollbar-track, 
.bot_center ul::-webkit-scrollbar-track, 
.bot_side_center ul::-webkit-scrollbar-track, 
.settings_bloc2::-webkit-scrollbar-track, 
.dash_search ul::-webkit-scrollbar-track, 
.dash_settings#wallet_my::-webkit-scrollbar-track 
{box-shadow:inset 0 0 0 #ccc;border-radius:10px;background:transparent;}

.dash_latest ul:hover::-webkit-scrollbar-thumb, 
.dash_trending ul:hover::-webkit-scrollbar-thumb, 
.dash_portfolio ul:hover::-webkit-scrollbar-thumb, 
.bot_center ul:hover::-webkit-scrollbar-thumb, 
.bot_side_center ul:hover::-webkit-scrollbar-thumb, 
.settings_bloc2:hover::-webkit-scrollbar-thumb, 
.dash_search ul:hover::-webkit-scrollbar-thumb, 
.dash_settings#wallet_my:hover::-webkit-scrollbar-thumb 
{background:var(--color-scroll);border-radius:10px;}








/*
------------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------
*/






/*
MOBILE ------------------------------------------------------------------------------------------------------------------------------
*/

@media (max-width:700px){

/*
WIREFRAME
*/
.dash, 
.dash_bloc_left, 
.dash_bloc_center, 
.dash_bloc_right, 
.dash_center_top, 
.dash_center_bottom1, 
.dash_center_bottom2, 
.dash_center_bottom3, 
.dash_left_top, 
.dash_left_bottom, 
.dash_right_top, 
.dash_right_bottom 
{position:relative;top:auto;left:auto;right:auto;bottom:auto;height:auto;width:100%;padding:0;margin:0;}
.dash_bloc_left, 
.dash_bloc_center, 
.dash_bloc_right 
{height:auto;}
.bot_left {display:none;z-index:100;position:fixed;width:75%;left:-75%;}
.bot_bottom {left:0;height:65px;padding-top:0;}
.bot_center {left:0;bottom:65px;}
.bot_center2 {width:100%;padding-left:20px;padding-right:20px;}


/*
SEARCH
*/
.bot_search {width:100%;padding:0;}
.bot_search form {width:100%;}
.bot_search form .bot_search_input input[type=text] {height:40px;border-radius:20px;text-indent:0;margin-left:65px;margin-right:65px;font-size:16px;}
.bot_search form .bot_search_input i.faslash {left:20px;height:30px;width:30px;border-radius:50%;background:var(--color-storm);font-size:12px;}
.bot_search form .bot_search_input input[type=submit], .bot_search form .bot_search_input i.fa-solid.fa-arrow-up {right:20px;height:30px;width:30px;border-radius:50%;background:#fff;color:#000;}
.bot_search_menu {width:auto;bottom:75px;left:20px;right:20px;}


/*
EMPTY
*/
.bot_empty {left:0;bottom:65px;}
.bot_empty0 {width:100%;}
.bot_empty1 span {width:44px;border:none;padding:10px;background:#fff;}
.bot_empty1 b {font-size:18px;}
.bot_empty2 ul {padding:0 20px 10px 20px;float:left;white-space:nowrap;overflow-y:hidden;overflow-x:scroll;-webkit-overflow-scrolling:touch;justify-content:flex-start;flex-wrap:nowrap;}
.bot_empty2 ul li {margin-right:13px;display:inline-block;width:auto;}
.bot_empty2 ul li a {border:none;background:var(--color-bloc2);padding:12px 20px 12px 20px;}
.bot_empty2 ul li a span:nth-child(1) {font-size:16px;}
.bot_empty2 ul li a span:nth-child(2) {font-size:14px;}
.bot_empty2 ul::-webkit-scrollbar {display:none;}
	
.bot .bot_token0 {flex-direction:column;justify-content:flex-start;align-items:flex-start;}
.bot .bot_token {width:100%;margin-bottom:10px;height:auto;}
.bot .dash_buysell {width:100%;}
	
.bot .bot_token ul {justify-content:flex-start;align-items:flex-start;}	
	
	
	
.bot_mobile {position:fixed;top:0;left:0;right:0;height:50px;background:var(--color-bloc);z-index:50;display:flex;align-items:center;justify-content:space-between;}
.bot_mobile a:nth-child(1) {display:flex;flex-direction:column;padding-left:20px;width:100px;justify-content:flex-start;line-height:1;}
.bot_mobile a:nth-child(1) span:nth-child(1) {display:flex;width:20px;height:2px;border-radius:10px;background:var(--color-text);margin:0 0 3px 0;}
.bot_mobile a:nth-child(1) span:nth-child(2) {display:flex;width:14px;height:2px;border-radius:10px;background:var(--color-text);margin:3px 0 0 0;}
.bot_mobile a:nth-child(2) {display:flex;font-size:18px;line-height:1;color:var(--color-storm);font-weight:700;}
.bot_mobile a:nth-child(3) {display:flex;padding-right:20px;width:100px;justify-content:flex-end;}
.bot_mobile a:nth-child(3) i {color:var(--color-text2);font-size:18px;line-height:1;margin-top:-5px;}
	
	
.bot_left .bot_side_top {display:none;}
.bot_side_gas {display:none;}
	
.bot_empty1 b {display:none;}

.bot .dash_chart {display:none;}

.bot .dash_buysell {border:none;}
.bot .dash_buysell ul {padding:0;}
.bot .bot_token {border:none;padding:0;}

.bot_storm_message {display:flex;flex-direction:column;justify-content:flex-start;align-items:flex-start;}

.bot .dash_buysell ul li a {padding-top:15px;padding-bottom:15px;}

.bot .dash_list {border:none;}
.bot .dash_list ul {padding:0;}
.bot .dash_list ul li {border:none;}
.bot .dash_list ul li a {padding:5px 0 5px 0;}
.bot .dash_list strong {display:none;}

.bot .search_bloc .dash_search {display:none;}

	
	
body {background:var(--color-bloc);}
	
}






